<!DOCTYPE html>
<html>
<head>
	<title>chatting</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/resources/chat/css/chat.css">
</head>
<body>
	<ul class="list" id="list"></ul>
	<div class="send-box-wrap">
		<div class="send-text-wrap"><input type="text" class="send-text" id="send-text"></div>
		<div class="send-submit-wrap"><a class="send-submit" id="send-submit">send</a></div>
	</div>
	<script type="text/javascript" src="/resources/chat/js/chat.js"></script>
</body>
</html>