@font-face {
	font-family: Roboto-Regular;
	src: url(Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto-Bold;
	src: url(Roboto-Bold.ttf);
}
@font-face {
	font-family: RobotoCondensed-Regular;
	src: url(RobotoCondensed-Regular.ttf);
}
@font-face {
	font-family: RobotoCondensed-Bold;
	src: url(RobotoCondensed-Bold.ttf);
}
@font-face {
	font-family: Roboto-Medium;
	src: url(Roboto-Medium.ttf);
}

body {
	font-family: Arial;
}

.roboto-regular {font-family: Roboto-Regular, Arial;}
.roboto-bold {font-family: Roboto-Bold, Arial;}
.roboto-condensed-regular {font-family: RobotoCondensed-Regular, Arial;}
.roboto-condensed-bold {font-family: RobotoCondensed-Bold, Arial;}
.roboto-medium {font-family: Roboto-Medium, Arial;}